<!DOCTYPE html>
<!-- html for updating posts -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User App</title>
    <style>
      .column {
        float: left;
        width: 20%;
        padding: 10px;
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
</head>

<body>

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<!-- form that allows users to update the title of a specfic post-->
<div >
    <h1>Update Post</h1>
    <form action="/update/{{user.id}}/{{post.title}}" method="post">
        <input type="text" name="update_title" id="update_title" placeholder="Update title from {{ post.title }}" >
        <input type="submit" value="Update">
    </form>
</div>

{% endblock %}

</body>

</html>
